[[local|localrc]]

LOGFILE=/opt/stack/logs/stack.sh.log
FLAT_INTERFACE=eth1
PUBLIC_INTERFACE=eth1
FIXED_RANGE=192.168.76.128/25
DATABASE_PASSWORD=solum
RABBIT_PASSWORD=solum
SERVICE_TOKEN=solum
SERVICE_PASSWORD=solum
ADMIN_PASSWORD=solum
NOVNC_FROM_PACKAGE=false
SCREEN_LOGDIR=/opt/stack/logs/screen
SOLUM_INSTALL_CEDARISH=True
ENABLED_SERVICES+=,heat,h-api,h-api-cfn,h-api-cw,h-eng
IMAGE_URLS=http://launchpad.net/cirros/trunk/0.3.0/+download/cirros-0.3.0-x86_64-uec.tar.gz,http://cc42a68525a2dda0151c-9a7653a0ba84bd9342f239dc5349667e.r38.cf1.rackcdn.com/cedarish.qcow2


enable_service solum
enable_service solum-api
enable_service solum-builder-api
enable_service solum-conductor
enable_service solum-deployer
enable_service solum-worker

disable_service n-net
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta
enable_service neutron

# Enable Mistral
enable_service mistral
